# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

# =============== #
# future versions #
# =============== #

# components
/app/components/products/shop-filter.js
/app/components/products/specs-filter.js

# models
/app/models/doc.js
/app/models/conflict.js
/app/models/product-conflict.js
/app/models/service.js

# routes
/app/routes/docs

# styles
/app/styles/not*.css
/app/styles/old*.css

# templates
/app/templates/components/products/shop-filter.hbs
/app/templates/components/products/specs-filter.hbs
/app/templates/docs

# tests
/tests/integration/components/products/shop-filter-test.js
/tests/integration/components/products/specs-filter-test.js
/tests/unit/models/doc-test.js
/tests/unit/models/product-conflict-test.js
/tests/unit/models/conflict-test.js
/tests/unit/models/service-test.js
/tests/unit/routes/docs
/tests/unit/routes/product-conflicts-test.js
/tests/unit/routes/conflicts-test.js
/tests/unit/routes/services-test.js
