{{#if model}}
  {{#admin/products/product-modal sku=model.propertyList.sku}}
  <p>
    {{model.propertyList.brand}} {{model.propertyList.productName}}
  </p>
  {{/admin/products/product-modal}}
{{/if}}
