<div class="table-responsive text-nowrap">
  <table class="table table-striped">
    <thead class="top-row">
      <tr class="header-group">
        <th class="first-column mid-column" colspan=4>Yleistiedot</th>
        <th class="mid-column" colspan=7>Speksit</th>
      </tr>
      <tr>
        <th class="first-column">Merkki</th>
        <th>Tuote</th>
        <th>SKU</th>
        <th class="mid-column">Takuu</th>

        <th>Ominaisuus</th>
        <th>Ominaisuus</th>
        <th>Ominaisuus</th>
        <th>Ominaisuus</th>
        <th>Ominaisuus</th>
        <th>Ominaisuus</th>
        <th class="mid-column">Ominaisuus</th>
			</tr>
		</thead>
    <tbody class="bottom-row">
      <tr>
      </tr>
    </tbody>
  </table>
</div>
