 <div class="col-sm-6 col-md-4">
  <div class="item-container">

    <div class="row">
      <div class="col-xs-12 item-infobar">
        <span>1</span>
        <i class="fa fa-share" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 test item-heading">
        <span class="text">Long Brand Extra Long Product Name</span>
        <span class="sub-text">ATX</span>
        <span class="sub-text">80+ Platinum</span>
        <span class="sku-text">ABCD-1234</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 test item-specs">
        <div class="specs-link">
          <a href="#">Speksit</a>
        </div>
        <ul class="list-group">
          <li class="list-group-item">spec: info</li>
          <li class="list-group-item">spec: a bit longer info</li>
          <li class="list-group-item">no identifier</li>
          <li class="list-group-item">5 x abc, 8 x def</li>
          <li class="list-group-item">some more stuff</li>
          <li class="list-group-item">specs ain't over yet</li>
        </ul>
      </div>
      <div class="col-xs-6 test item-shops">
        <div class="prices-link">
          <a href="#">Hinnat (hinta.fi)</a>
        </div>
        <div class="list-group">
          <button type="button" class="list-group-item">
            <span class="price">59,90 €</span><span class="delivery">1-4 pv</span>
            <span class="shop-name">Kauppa</span>
          </button>
          <button type="button" class="list-group-item">
            <span class="price">64,90 €</span><span class="delivery">1-10 pv</span>
            <span class="shop-name">Nettikauppa</span>
          </button>
          <button type="button" class="list-group-item">
            <span class="price">66,90 €</span><span class="delivery">2-3 vko</span>
            <span class="shop-name">Kauppa-verkossa.com</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
