 <div class="col-sm-6 col-md-4 col-lg-3 test">
  <div class="padding">

    <div class="row">
      <div class="col-xs-12 test test-heading">
        <div class="heading-row">
          <span class="heading-text">Long Brand Extra Long Product Name</span>
        </div>
        <div class="heading-row">
          <span class="sub-text">ATX</span>
          <span class="sub-text">80+ Platinum</span>
          <span class="sku-text">ABCD-1234</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 test test-content">

        <div class="specs-row">
          <span class="spec-info">spec: info</span>
        </div>
        <div class="specs-row">
          <span class="spec-info">spec: a bit longer info</span>
        </div>
        <div class="specs-row">
          <span class="spec-info">no identifier</span>
        </div>
        <div class="specs-row">
          <span class="spec-info">5 x abc</span>
        </div>
      </div>
      <div class="col-xs-6 test test-content">
        <div class="price-row">
          <span class="shop-price">59,90 €</span>
          <span class="shop-name">Jimm's PC Store</span>
        </div>
        <div class="price-row">
          <span class="shop-price">64,90 €</span>
          <span class="shop-name">Systemastore</span>
        </div>
        <div class="price-row">
          <span class="shop-price">66,90 €</span>
          <span class="shop-name">Verkkokauppa.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
