<div class="panel">
  <div class="panel-heading">
    <span>25 hakutulosta</span>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span>Valmistaja</span>
        <span>Tuotenimi</span>
        <span class="pull-right" style="color: #666">Tuotenumero</span>
      </li>
      <li class="list-group-item">
        <span>Valmistaja</span>
        <span>Tuotenimi</span>
        <span class="pull-right" style="color: #666">Tuotenumero</span>
      </li>
      <li class="list-group-item">
        <span>Valmistaja</span>
        <span>Tuotenimi</span>
        <span class="pull-right" style="color: #666">Tuotenumero</span>
      </li>
      <li class="list-group-item">
        <span>Valmistaja</span>
        <span>Tuotenimi</span>
        <span class="pull-right" style="color: #666">Tuotenumero</span>
      </li>
      <li class="list-group-item">
        <span class="name">Valmistaja Tuotenimi</span>
        <span class="sub-text">ATX</span>
        <span class="sub-text">80+ Bronze</span>
        <span class="sku-text">tuotenumero</span>
      </li>
    </ul>
  </div>
</div>
