<div class="form-group">
  <select class="form-control category input-sm" onChange={{action 'select' value="target.value"}}>
    <option value="">valitse kategoria</option>
    <option value="processor">prosessori</option>
    <option value="cooler">jäähdytin</option>
    <option value="motherboard">emolevy</option>
    <option value="graphics-card">näytönohjain</option>
    <option value="wlan">WLAN-adapteri</option>
    <option value="storage">tallennustila</option>
    <option value="power-supply">virtalähde</option>
    <option value="case">kotelo</option>
    <option value="fan">tuuletin</option>
    <option value="accessory">lisätarvike</option>
  </select>
</div>
