{{#if processorActive}}
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label class="control-label">asd</label>
        {{input class="form-control input-sm" placeholder=""}}
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label class="control-label">fgh</label>
        {{input class="form-control input-sm" placeholder=""}}
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label class="control-label">jkl</label>
        {{input class="form-control input-sm" placeholder=""}}
      </div>
    </div>
  </div>
{{/if}}
