<div class="container-fluid">
  <div class="row build-area">

    <div class="row build-header">
      <div class="col-xs-12">
        <span class="title">Kokoonpanon nimi</span>
        <button type="button"><i aria-hidden="true" class="fa fa-pencil"></i></button>
        <span class="description">Kokoonpanon kuvaus</span>
      </div>
    </div> <!-- /row -->

    <div class="functions">
      <button type="button">päivitä hinnat <i aria-hidden="true" class="fa fa-refresh"></i></button>
    </div>

    <div class="row item-container">
      <div class="col-xs-12">

        <div class="row item-info">
          <div class="col-xs-12">
            <span class="category">prosessori</span>
            <span class="item"><a href="http://prices.com/1001/">Processor Product 1</a></span>
            <button type="button">poista <i aria-hidden="true" class="fa fa-times"></i></button>
            <button type="button">vaihda <i aria-hidden="true" class="fa fa-cog"></i></button>
            <div class="specs">
              <span class="sub-text">speksi1</span>
              <span class="sub-text">speksi2</span>
              <span class="sku-text"><a href="http://productscompany.com/ABCD1234">ABCD1234</a></span>
            </div>
          </div>
        </div> <!-- /row -->

        <div class="row item-source">
          <div class="col-xs-12">
            <span class="shop-name">Best PC store</span>
            <span class="price">49,90 €</span>
            <span class="delivery">1-4 pv</span>
            <button type="button">päivitä hinta <i aria-hidden="true" class="fa fa-refresh"></i></button>
            <button type="button">vaihda <i aria-hidden="true" class="fa fa-cog"></i></button>
          </div>
        </div> <!-- /row -->

      </div>
    </div>  <!-- /row -->

    <!-- ******************************'' -->

  </div> <!-- /row -->
</div> <!-- /container-fluid -->
