<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PCgen</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Etsi...">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Kokoonpanot</a></li>
        <li><a href="#">Käyttäjät</a></li>
        <li><a href="#">Asetukset</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Prosessorit<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Jäähdyttimet</a></li>
        <li><a href="#">Emolevyt</a></li>
        <li><a href="#">Muistit</a></li>
        <li><a href="#">Näytönohjaimet</a></li>
        <li><a href="#">SSD-levyt</a></li>
        <li><a href="#">Kiintolevyt</a></li>
        <li><a href="#">Virtalähteet</a></li>
        <li><a href="#">Kotelot</a></li>
        <li><a href="#">Tuulettimet</a></li>
        <li><a href="#">Lisätarvikkeet</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Näytöt</a></li>
        <li><a href="">Näppäimistöt</a></li>
        <li><a href="">Hiiret</a></li>
        <li><a href="">Hiirimatot</a></li>
        <li><a href="">Kuulokkeet</a></li>
        <li><a href="">Kaiuttimet</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Column</th>
              <th>Header Bigger than Content</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
              <th>Third</th>
  					</tr>
  				</thead>
          <tbody>
            <tr>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
              <td>First</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Content Bigger than Header</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
  					<tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
            <tr>
              <td>First</td>
              <td>Second</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
              <td>Third</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
