<div class="container-fluid">
  <!-- <div class="row"> -->
    <!-- <div class="col-sm-3 col-md-2 col-lg-1 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#">Prosessorit</a></li>
        <li><a href="#">Jäähdyttimet</a></li>
        <li><a href="#">Emolevyt</a></li>
        <li><a href="#">Muistit</a></li>
        <li><a href="#">Näytönohjaimet</a></li>
        <li><a href="#">SSD-levyt</a></li>
        <li><a href="#">Kiintolevyt</a></li>
        <li>{{#link-to "parts.power-supplies"}}Virtalähteet{{/link-to}}</li>
        <li><a href="#">Kotelot</a></li>
        <li>{{#link-to "parts.fans"}}Tuulettimet{{/link-to}}</li>
        <li><a href="#">Lisätarvikkeet</a></li>
      </ul>
    </div> -->

    <!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1 main"> -->
      <!-- {{outlet}} -->
    <!-- </div> -->
  <!-- </div> -->

  {{outlet}}
</div>
