<div class="parts-wrapper">

  <div class="container-fluid">

    <div class="row top-content">
    </div>

  </div> <!-- container-fluid -->

  <div class="container-fluid">

    <!-- CATEGORIES -->

    <div class="row category-area">
      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Prosessorit</a>
            <ul class="nav nav-stacked">
              <li><a href="#">LGA1151</a></li>
              <li><a href="#">AMD Socket 1331</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Jäähdyttimet</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupBSub1</a></li>
              <li><a href="#">GroupBSub2</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Emolevyt</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupCSub1</a></li>
              <li><a href="#">GroupCSub2</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Keskusmuistit</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupDSub1</a></li>
              <li><a href="#">GroupDSub2</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Näytönohjaimet</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupESub1</a></li>
              <li><a href="#">GroupESub2</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Tallennustila</a>
            <ul class="nav nav-stacked">
              <li><a href="#">SSD-levyt</a></li>
              <li><a href="#">Kiintolevyt</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Virtalähteet</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupGSub1</a></li>
              <li><a href="#">GroupGSub2</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Kotelot</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupHSub1</a></li>
              <li><a href="#">GroupHSub2</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Tuulettimet</a>
            <ul class="nav nav-stacked">
              <li><a href="#">GroupISub1</a></li>
              <li><a href="#">GroupISub2</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-1of5 category">
        <ul class="nav nav-stacked">
          <li><a href="#">Lisätarvikkeet</a>
            <ul class="nav nav-stacked">
              <li><a href="#">WLAN-adapterit</a></li>
              <li><a href="#">Optiset asemat</a></li>
              <li><a href="#">Tuuletinkaapelit</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>  <!-- /row -->

  </div> <!-- /container-fluid -->

  {{outlet}}

</div> <!-- /parts-wrapper -->
