<div class="row main">
  <div class="col-xs-12">
    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Prosessorit</div>
        <div class="panel-body">
          <p>Tietoa prosessorin roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Koodinimi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Skylake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Kaby Lake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Ryzen
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikanta</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Prosessorijäähdyttimet</div>
        <div class="panel-body">
          <p>Tietoa prosessorijäähdyttimen roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Tyyppi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Matalaprofiiliset
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tornijäähdyttimet
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Nestejäähdyttimet
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Jäähdytysteho</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Peruskäyttö
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Kellotus
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Emolevyt</div>
        <div class="panel-body">
          <p>Tietoa emolevyn roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikannat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Kokoluokat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> ATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> MicroATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mini-ITX
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Keskusmuistit</div>
        <div class="panel-body">
          <p>Tietoa keskusmuistien roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Koodinimi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Skylake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Kaby Lake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Ryzen
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikanta</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Näytönohjainkortit</div>
        <div class="panel-body">
          <p>Tietoa näytönohjaimen roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Tyyppi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Matalaprofiiliset
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tornijäähdyttimet
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Nestejäähdyttimet
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Jäähdytysteho</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Peruskäyttö
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Kellotus
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SSD-levyt</div>
        <div class="panel-body">
          <p>Tietoa SSD-levyn roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikannat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Kokoluokat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> ATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> MicroATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mini-ITX
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Kiintolevyt</div>
        <div class="panel-body">
          <p>Tietoa kiintolevyjen roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Koodinimi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Skylake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Kaby Lake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Ryzen
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikanta</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Virtalähteet</div>
        <div class="panel-body">
          <p>Tietoa virtalähteen roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Tyyppi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Matalaprofiiliset
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tornijäähdyttimet
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Nestejäähdyttimet
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Jäähdytysteho</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Peruskäyttö
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Kellotus
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Kotelot</div>
        <div class="panel-body">
          <p>Tietoa kotelon roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikannat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Kokoluokat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> ATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> MicroATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mini-ITX
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Tuulettimet</div>
        <div class="panel-body">
          <p>Tietoa tuuletinten roolista tietokoneessa, ja kuinka valita itselle sopivat.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Koodinimi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Skylake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel Kaby Lake
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Ryzen
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikanta</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">WLAN-sovittimet</div>
        <div class="panel-body">
          <p>Tietoa langattoman verkkosovittimen roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Tyyppi</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Matalaprofiiliset
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tornijäähdyttimet
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Nestejäähdyttimet
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Jäähdytysteho</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Peruskäyttö
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Kellotus
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Lisätarvikkeet</div>
        <div class="panel-body">
          <p>Tietoa lisätarvikkeiden roolista tietokoneessa, ja kuinka valita itselle sopiva.</p>
        </div>

        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Prosessorikannat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1150
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Intel LGA1151
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> AMD Socket 1331
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 filter-item">
            <div class="filter-header">Kokoluokat</div>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> ATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> MicroATX
            </button>
            <button class="btn btn-xs btn-default filter-button" type="button" aria-controls="...">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mini-ITX
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
