/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Layout - - - - - - */
/* - - 2. Categories - - - - */
/* - - 3. Product list - - - */
/* - - - - - - - - - - - - - */

/* ================== */
/* . . . Layout . . . */
/* ================== */

.products-area {
  margin: 0px auto;
  padding-top: 22px;
  padding-bottom: 15px;
  min-width: 324px;
}

.products-area > .products-main {
  margin: 0px;
}

.products-main > .category-list,
.products-main > .products-list {
  position: relative;
  padding: 15px 15px 0px 15px;
}

@media (min-width: 768px) {
  .products-area {
    max-width: 992px;
  }

  .products-main > .category-list,
  .products-main > .products-list {
    float: left;
  }
}

.products-main > .products-list {
  width: 100%;
}

@media (min-width: 768px) {
  .products-main > .products-list {
    width: calc(100% - 230px);
  }
}

/* ====================== */
/* . . . Categories . . . */
/* ====================== */

.products-area .nav-tabs > li.tab-selector > a {
  min-width: 114px;
}

.products-area .nav-stacked.nav-pills > li > a {
  padding: 6px 9px;
}

@media (max-width: 767px) {
  .products-main > .category-list .col-xs-6 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
}

@media (min-width: 768px) {
  .products-main > .category-list {
    border-left: 1px solid #ddd;
    /* border aligns with nav tabs combined width 114+2+114 px */
    width: 230px;
  }

  .products-main > .category-list .col-xs-6 {
    border-right: 1px solid #ddd;
  }
}

/* ======================== */
/* . . . Product list . . . */
/* ======================== */

span.name {
  display: block;
  font-size: 16px;
  line-height: 100%;
}

span.sub-text,
span.sku-text {
  font-size: 12px;
  padding-right: 8px;
  font-weight: 600;
}

span.sku-text {
  color: rgba(50,50,50,0.4);
}

.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding: 0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right: 5px; }
.panel-body .radio, .checkbox { display: inline-block; margin: 0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through; color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus { text-decoration: none; background-color: rgb(245, 245, 245); }
.list-group { margin-bottom: 0px; }
