/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Layout - - - - - - */
/* - - 2. Categories - - - - */
/* - - 3. Modal  - - - - - - */
/* - - - - - - - - - - - - - */

/* ================== */
/* . . . Layout . . . */
/* ================== */

.products-area {
  margin: 0px auto;
  padding-top: 22px;
  padding-bottom: 15px;
  min-width: 324px;
}

.products-area > .products-main {
  margin: 0px;
}

.products-main > .category-list,
.products-main > .products-list {
  position: relative;
  padding: 15px 15px 0px 15px;
}

@media (min-width: 768px) {
  .products-area {
    max-width: 992px;
  }

  .products-main > .category-list,
  .products-main > .products-list {
    float: left;
  }
}

.products-main > .products-list {
  width: 100%;
}

@media (min-width: 768px) {
  .products-main > .products-list {
    width: calc(100% - 230px);
  }
}

/* ====================== */
/* . . . Categories . . . */
/* ====================== */

.products-area .nav-tabs > li.tab-selector > a {
  width: 114px;
  text-align: center;
}

.products-area .nav-stacked.nav-pills > li > a {
  padding: 6px 9px;
}

@media (max-width: 767px) {
  .products-main > .category-list .col-xs-6 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
}

@media (min-width: 768px) {
  .products-main > .category-list {
    border-left: 1px solid #ddd;
    /* border aligns with nav tabs combined width 114+2+114 px */
    width: 230px;
  }

  .products-main > .category-list .col-xs-6 {
    border-right: 1px solid #ddd;
  }
}

/* ================= */
/* . . . Modal . . . */
/* ================= */

.modal h2 {
  font-size: 14px;
}

.modal h3 {
  font-size: 12px;
  font-weight: 600;
  margin-top: 0px;
}

.modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}

.modal-body > .row {
  padding-top: 10px;
}

tbody.modal-table > tr > td,
tbody.modal-table > tr > th {
  border-top: 0px;
}

.modal-table > tr > td {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50vw;
}

.modal-table > tr > td:hover {
  background-color: #eee;
}

@media (min-width: 768px) {
  .modal-table > tr > th {
    min-width: 178px;
    max-width: 178px;
  }

  .modal-table > tr > td {
    min-width: 391px;
    max-width: 391px;
  }
}
