/* <li> linking addon: https://github.com/alexspeller/ember-cli-active-link-wrapper */

/* GLOBALS - - - - - */
/* * * Navbar  - - - */
/* PRODUCTS  - */
/* * * Layout  - - - */
/* * * Categories  - */
/* * * Modal - - - - */
/* PRODUCT TILE  - - */
/* * * Infobar - - - */
/* * * Heading - - - */
/* * * Specs - - - - */
/* * * Shops - - - - */
/* NEW PRODUCT - - - */
/* * * Form  - - - - */
/* OTHER - - - - - - */

/* GLOBALS - - - - - */

.fixed { position: fixed; }
.nav > li { cursor: pointer; }
button > .text { padding-left: 6px; }
.vertical-space { width: 100%; margin: 20px 0px; }
.nav-justified > li { display: table-cell; width: 1%; text-align: center; }

@media (max-width: 768px) {
  .nav-tabs.nav-justified > li { display: table-cell; width: 1%; }
}

/* restrict container width changes */
@media (min-width: 768px) {
  .no-sm-width { width: 100%; }
}

@media (min-width: 992px) {
  #no-lg-width { width: 970px; }
}

/* main */
.main { padding: 30px 20px 20px 20px; }
.main-content { margin-top: -20px; }
.bottom-content { padding-bottom: 200px; }

@media (max-width: 767px) {
  .main { padding-right: 8px; padding-left: 10px; }
}

/* custom 1/5 column */
/* NOT IN USE */
.col-xs-1of5 { width: 20%; float: left; }

@media (min-width: 768px) {
  .col-sm-1of5 { width: 20%; float: left; }
}

@media (min-width: 992px) {
  .col-md-1of5 { width: 20%; float: left; }
}

@media (min-width: 1200px) {
  .col-lg-1of5 { width: 20%; float: left; }
}

/* GLOBALS - - - - - */
/* * * Navbar  - - - */

.navbar-wrapper { position: absolute; right: 0; left: 0; z-index: 20; }

/* min-width of page content has to match */
#top-nav { padding: 0px 15px; min-width: 354px; }

.navbar .dropdown-form-container { padding: 12px 12px 0px 12px; min-width: 240px; }

@media (max-width: 767px) {
  .navbar .dropdown-form-container { margin: 0px; }
  .navbar .dropdown-form-container > .col-xs-12 { padding: 0px; }
}

/*keeps links more centered for non-mobile screens */
@media (min-width: 768px) {
  #top-nav { padding: 0px calc(50% - 384px + 28px); }
}

/* PRODUCTS  - - - - */

span.count { font-size: 12px; }

/* PRODUCTS  - */
/* * * Layout  - - - */

.products-area { margin: 0px auto; padding-top: 22px; padding-bottom: 15px; min-width: 324px; }
.category-list, .product-list { position: relative; margin: 0px; }
.category-list { padding-top: 15px; width: 100%; }
.product-list { min-width: 324px; max-width: 100%; }

@media (max-width: 767px) {
  .product-list > .col-xs-12 { padding: 0px }
}

@media (min-width: 768px) {
  .category-list, .product-list { float: left }
  .products-area { max-width: 992px; }
}

/* PRODUCTS  - */
/* * * Categories  - */

.products-area .nav-tabs > li.tab-selector > a { width: 114px; text-align: center; }
.products-area .nav-stacked.nav-pills > li > a { padding: 6px 9px; }

@media (max-width: 767px) {
  .category-list .col-xs-6 { padding-bottom: 15px; border-bottom: 1px solid #ddd; }
}

/* border aligns with nav tabs combined width 114+2+114 px */
@media (min-width: 768px) {
  .category-list { border-left: 1px solid #ddd; width: 230px; }
  .category-list .col-xs-6 { border-right: 1px solid #ddd; }
}

/* PRODUCTS  - */
/* * * Modal - - - - */

.modal h2 { font-size: 14px; }
.modal h3 { font-size: 12px; font-weight: 600; margin-top: 0px; }
.modal-body { padding-top: 0px; padding-bottom: 0px; font-size: 12px; }
.modal-body > .row { padding-top: 10px; }

tbody > tr > td.modal-cell { padding: 0px; vertical-align: middle; }
tbody > tr > td.modal-cell,
tbody > tr > th.modal-cell { border-top: 0px; line-height: 1.5; }

th.modal-cell { min-width: 80px; max-width: 80px; }
td.modal-cell { overflow: hidden; text-overflow: ellipsis; min-width: 250px; max-width: 250px; }
td.clickable { cursor: pointer; }
td.clickable:hover { background-color: #eee; }

/* 52px represents the width of the buttons */
td.clickable > span { width: 100%; padding: 5px 10px; border: 1px solid transparent; border-radius: 3px; }
td.editable > input { display: inline-block; width: calc(100% - 52px); height: 27px; }

@media (min-width: 768px) {
  th.modal-cell { min-width: 178px; max-width: 178px; }
  td.modal-cell { min-width: 391px; max-width: 391px; }
}

/* PRODUCT LISTING  - - */

.product-container { padding: 20px 6px; border-bottom: 2px solid #eee; }
.product-heading > span { padding: 0px 4px; }

@media (min-width: 768px) {
  .product-container { padding: 20px; }
}

/* PRODUCT LISTING  - - */
/* * * Heading - - - */

.product-heading { padding: 6px 0px; border-bottom: 1px solid #eee; overflow: hidden; }
span.name { display: block; font-size: 16px; line-height: 100%; padding-bottom: 4px; }
span.sku-text { color: rgba(50,50,50,0.4); }

span.sub-text,
span.sku-text { font-size: 12px; padding-right: 8px; font-weight: 600; }

/* NEW PRODUCT - - - */

.new-product-area { margin: 0px auto 20px auto; min-width: 324px; max-width: 400px; }
.new-product-area h2 { margin-bottom: 25px; }
.new-product-area .form-group { margin-bottom: 10px; }
.new-product-area > .col-xs-12 { padding: 0px; }

.new-product-area select.category { border-width: 2px; }

/* NEW PRODUCT - - - */
/* * * Form  - - - - */

.new-product-area .required-fields {
  font-size: 12px;
  font-weight: 400;
  color: #888;
  height: 30px;
  padding: 4px 10px;
  /* same color as Bootstrap form-control :focus state: */
  border: 1px solid transparent;
  border-left: 3px solid #66AFE9;
  border-radius: 4px;
}

form > .form-section {
  margin-bottom: 10px;
  padding: 8px 8px 0px 8px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

form > button { margin: 5px 0px; }
form > .form-section button { margin-bottom: 10px; }
form > .form-section label.dummy { color: transparent; }
form .row .checkbox.offset { margin-top: 20px; }
.checkbox.label-small > label { font-size: 10px; font-weight: bold; line-height: 200%; }
.new-product-area .control-label { font-size: 10px; }

.new-product-area form input,
.new-product-area form select { border-left-width: 3px; }

.new-product-area form input.required,
.new-product-area form select.required { border-left-color: #66AFE9; }

/* OTHER - - - - - - */

/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
