@import url("admin-products-page.css");
@import url("build-page.css");
/*@import url("docs-page.css");*/
@import url("new-product-page.css");
@import url("parts-page.css");
@import url("sign-in-page.css");
@import url("tile.css");

/* <li> linking addon: https://github.com/alexspeller/ember-cli-active-link-wrapper */

/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Navbar - - - - - - */
/* - - 2. Main - - - - - - - */
/* - - 3. Custom columns - - */
/* - - 4. Tables - - - - - - */
/* - - 5. IE10 - - - - - - - */
/* - - - - - - - - - - - - - */

/* bootstrap.css extracted */
.row-copy {
  margin-right: -15px;
  margin-left: -15px;
}

.row-copy:before,
.row-copy:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.column-copy {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 25%; /* col-sm-3 */
}

/* restrict container width changes */
@media (min-width: 992px) {
  #no-lg-width {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .no-sm-width {
    width: 100%;
  }
}

/* fixed position */
.fixed { position: fixed; }

.nav > li {
  cursor: pointer;
}

/* ================== */
/* . . . Navbar . . . */
/* ================== */

.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 354px; /* min-width of page content has to match */
}

/* keeps links more centered for medium screens */
@media (min-width: 768px) {
  .navbar-wrapper .navbar {
    padding-right: calc(50% - 384px + 28px);
    padding-left: calc(50% - 384px + 28px);
  }
}

.navbar .dropdown-form-container {
  padding: 12px 12px 0px 12px;
  min-width: 240px;
}

@media (max-width: 767px) {
  .navbar .dropdown-form-container {
    margin: 0px;
  }

  .navbar .dropdown-form-container > .col-xs-12 {
    padding: 0px;
  }
}

/* ================ */
/* . . . Main . . . */
/* ================ */

.main {
  padding: 30px 20px 20px 20px;
}

.main-content {
  margin-top: -20px;
}

/* placeholders for actual content areas */
.top-padding {
  padding-top: 51px;
}

.bottom-content {
  padding-bottom: 200px;
}

@media (max-width: 767px) {
  .main {
    padding-right: 8px;
    padding-left: 10px;
  }
}

/* ========================== */
/* . . . Custom columns . . . */
/* ========================== */

.col-xs-1of5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1of5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1of5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1of5 {
    width: 20%;
    float: left;
  }
}

/* ================== */
/* . . . Tables . . . */
/* ================== */
/* UNNECESSARY?       */

tr.header-group > th { text-align: center; }

/* Column borders */
.first-column { border-left: 1px solid #ddd; }
.last-column { border-right: 1px solid #ddd; }
.mid-column { border-right: 2px solid #ddd; }
.top-row { border-top: 1px solid #ddd; }
.bottom-row { border-bottom: 1px solid #ddd; }

/* ================ */
/* . . . IE10 . . . */
/* ================ */

/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
