/*@import url("docs.css");*/
@import url("list-item.css");
@import url("list-page.css");
@import url("sign-in.css");

/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Navbar - - - - - - */
/* - - 2. Main - - - - - - - */
/* - - 3. Custom columns - - */
/* - - 4. Tables - - - - - - */
/* - - 5. IE10 - - - - - - - */
/* - - - - - - - - - - - - - */

/* restrict container width changes */
@media (min-width: 992px) {
  #no-lg-width {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .no-sm-width {
    width: 100%;
  }
}

/* fixed position */
.fixed { position: fixed; }

/* ================== */
/* . . . Navbar . . . */
/* ================== */

.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* keeps links more centered for medium screens */
@media (min-width: 767px) {
  .navbar-wrapper .navbar {
    padding-right: calc(50% - 384px + 28px);
    padding-left: calc(50% - 384px + 28px);
  }
}

/* positioning for detached navbar */
@media (min-width: 991px) {
  .navbar-wrapper {
    margin: 20px auto 0px;
    max-width: 768px;
  }

  .navbar-wrapper .navbar {
    padding: 0px;
  }

  /* round corners */
  .navbar-wrapper .navbar {
    border-radius: 3px;
  }
}

/* Decreased navbar height */
.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
}

.navbar-toggle {
  padding: 4px 4px 4px 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar-form {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar {
  min-height:30px;
  margin-bottom: 0px;
}

.form-control {
  padding: 4px 8px 4px 8px;
  height: 20px;
}

/* ================ */
/* . . . Main . . . */
/* ================ */

.main {
  padding: 30px 20px 20px 20px;
}

.main-content {
  margin-top: -20px;
}

/* placeholders for actual content areas */
.top-content {
  padding-top: 50px;
}

.bottom-content {
  padding-bottom: 200px;
}

@media (max-width: 767px) {
  .main {
    padding-right: 8px;
    padding-left: 10px;
  }
}

/* ========================== */
/* . . . Custom columns . . . */
/* ========================== */

.col-xs-1of5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1of5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1of5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1of5 {
    width: 20%;
    float: left;
  }
}

/* ================== */
/* . . . Tables . . . */
/* ================== */
/* UNNECESSARY?       */

tr.header-group > th { text-align: center; }

/* Column borders */
.first-column { border-left: 1px solid #ddd; }
.last-column { border-right: 1px solid #ddd; }
.mid-column { border-right: 2px solid #ddd; }
.top-row { border-top: 1px solid #ddd; }
.bottom-row { border-bottom: 1px solid #ddd; }

/* ================ */
/* . . . IE10 . . . */
/* ================ */

/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
