/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Layout - - - - - - */
/* - - 2. General  - - - - - */
/* - - 3. Header - - - - - - */
/* - - 4. Build-product  - - */
/* - - - - - - - - - - - - - */

/* ================== */
/* . . . Layout . . . */
/* ================== */

.build-area {
  margin: 0px auto;
  padding: 15px 0px;
  min-width: 324px;
  max-width: 400px;
}

/* =================== */
/* . . . General . . . */
/* =================== */

.build-area button {
  padding: 0px 12px;
  background-color: transparent;
  border: none;
  outline: none;
  float: right;
}

.build-area button > .fa {
  color: #555;
}

.build-area button:hover > .fa {
  color: #33e;
  text-shadow: 2px 2px 2px #ccc;
}

/* ================== */
/* . . . Header . . . */
/* ================== */

.build-header > .col-xs-12 {
  padding-top: 16px;
  padding-bottom: 24px;
}

.build-header span.title {
  font-size: 20px;
  line-height: 100%;
}

.build-header span.description {
  display: block;
  font-size: 12px;
  padding-right: 8px;
}

/* ========================= */
/* . . . Item . . . */
/* ========================= */

.item-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.item-info span.category {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #777;
}

.item-info div.specs {
  display: block;
}

.item-info span.item {
  font-size: 14px;
}

.item-info span.sub-text,
.item-info span.sku-text {
  font-size: 12px;
  padding-right: 8px;
}

.item-source span {
  padding: 0px 24px 0px 0px;
}

.item-source span.price {
  font-size: 16px;
  font-weight: 600;
}

.item-source span.delivery {
  font-size: 11px;
  font-weight: 600;
}

.item-source span.shop-name {
  font-size: 12px;
}

/*.item-source > span.fa {
  font-size: calc(16px + 0.5vw);
  color: #eee;
  float: right;
}*/

/*.item-source > .list-group > button:focus,
.item-source > .list-group > .active {
  border-color: transparent;
}

.item-source > .list-group > button:hover > span.fa {
  color: #777;
  text-shadow: 2px 2px 2px #ccc;
}*/

/* ******************* */

.item-source > .list-group {
  margin: 0px;
  height: 100%;
}

.item-source .list-group-item {
  padding: 0px 0px 0px 6px;
  margin: 0px -10px 0px 0px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 28%;
}
