/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Main - - - - - - - */
/* - - 2. Sidebar links  - - */
/* - - - - - - - - - - - - - */

/* ======================== */
/* . . . Sidebar main . . . */
/* ======================== */

.sidebar > ul {
  overflow-y: auto;
  height: calc(100% - 80px);
}

/* fixed list position */
.fixed { position: fixed; }

/* invisible scroll bar */
#inviscroll::-webkit-scrollbar { display: none; }

/* hide inactive nested lists */
.sidebar .nav ul.nav {
  display: none;
}
/* show active nested lists */
.sidebar .nav > .active > ul.nav {
  display: block;
}

/* ========================= */
/* . . . Sidebar links . . . */
/* ========================= */

/* links */
.sidebar .nav > li > a {
  color: #777;
  border-left: 2px solid transparent;
  padding: 4px 12px 3px 10px;
  font-size: 14px;
  font-weight: 600;
}

/* nested links */
.sidebar .nav .nav > li > a {
  padding: 2px 20px 2px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* active links */
.sidebar .nav .active > a,
.sidebar .nav .nav .active > a {
  color: #563d7c;
  border-left: 2px solid #563d7c;
}

/* adjust anchor target position */
.anchor:target {
  padding-top: 30px;
  margin-top: -40px;
}
