/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Layout - - - - - - */
/* - - 2. Category area- - - */
/* - - 3. Categories - - - - */
/* - - 4. Filters  - - - - - */
/* - - - - - - - - - - - - - */

/* ================== */
/* . . . Layout . . . */
/* ================== */

.parts-wrapper {
  /*background-color: #d5d5d5;*/
}

.listings-area {
  margin: 0px auto;
  padding: 15px 0px 15px 0px;
  max-width: 1200px;
}

/* ========================= */
/* . . . Category area . . . */
/* ========================= */

.category-area {
  margin: 0px auto;
  padding-top: 22px;
  padding-bottom: 15px;
  max-width: 792px;
}

@media (min-width: 992px) {
  .category-area {
    padding-right: 5px;
  }
}

/* ====================== */
/* . . . Categories . . . */
/* ====================== */
/* div.category > ul.nav > li > a / ul.nav > li > a */

.category .nav {
  width: 100%;
}

.category .nav > li {
  float: none;
}

.category .nav > li > a {
  margin-bottom: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  ..category .nav > li {
    display: table-cell;
    width: 1%;
  }
  .category .nav > li > a {
    margin-bottom: 0;
  }
}

/* links */
.category .nav > li > a {
  color: #777;
  padding: 6px 0px 6px 0px;
  font-size: 14px;
  font-weight: 600;
}

/* active links */
.category .nav > .active > a,
.category .nav > li > a:hover,
.category .nav > li > a:focus {
  color: #563d7c;
  background-color: #f1eef7;
}

/* =================== */
/* . . . Filters . . . */
/* =================== */
/* NOT IN USE          */

.controls .filter-area {
  width: calc(100% - 30px);
  float: none;
  display: block;
  margin: 0 auto;
  /*temp*/
  background-color: #f8f8cc;
}

.controls .filter-area > .area-header {
  text-align: center;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  /*temp*/
  background-color: #d1ff8c;
}

.controls .filter-area .filter-item {
  padding: 8px;
  /*temp*/
  background-color: #c78cff;
}

.controls .filter-area .filter-item > .item-header {
  margin: 4px 0px 2px 0px;
  font-size: 12px;
  font-weight: 600;
  /*temp*/
  background-color: #8cffd8;
}

.controls .filter-area .filter-item > button.filter {
  margin: 2px 0px 2px 0px;
}

/* expands collapsible divs on size M+ screens */
@media (min-width: 992px) {
  #categories, #shop-filters, #specs-filters {
    display: block!important;
  }
}
