/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. Layout - - - - - - */
/* - - 2. Header - - - - - - */
/* - - 3. Form - - - - - - - */
/* - - - - - - - - - - - - - */

/* ================== */
/* . . . Layout . . . */
/* ================== */

.new-product-area {
  margin: 0px auto 20px auto;
  min-width: 324px;
  max-width: 400px;
}

.new-product-area h2 {
  margin-bottom: 25px;
}

.new-product-area .form-group {
  margin-bottom: 10px;
}

.new-product-area > .col-xs-12 {
  padding: 0px;
}

/* ================== */
/* . . . Header . . . */
/* ================== */

.new-product-area select.category {
  border-width: 2px;
}

/* ================ */
/* . . . Form . . . */
/* ================ */

.new-product-area .required-fields {
  font-size: 12px;
  font-weight: 400;
  color: #888;
  height: 30px;
  padding: 4px 10px;
  /* same color as Bootstrap form-control :focus state: */
  border: 1px solid transparent;
  border-left: 3px solid #66AFE9;
  border-radius: 4px;
}

form > .form-section {
  margin-bottom: 10px;
  padding: 8px 8px 0px 8px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

form > button {
  margin: 5px 0px;
}

form > .form-section button {
  margin-bottom: 10px;
}

form > .form-section label.dummy {
  color: transparent;
}

form .row .checkbox.offset {
  margin-top: 20px;
}

.checkbox.label-small > label {
  font-size: 10px;
  font-weight: bold;
  line-height: 200%;
}

.new-product-area .control-label {
  font-size: 10px;
}

.new-product-area form input,
.new-product-area form select {
  border-left-width: 3px;
}

.new-product-area form input.required,
.new-product-area form select.required {
  border-left-color: #66AFE9;
}
