/* - - - - - - - - - - - - - */
/* - - CONTENTS  - - - - - - */
/* - - ========  - - - - - - */
/* - - 1. General  - - - - - */
/* - - 2. Product infobar  - */
/* - - 3. Product heading  - */
/* - - 4. Product specs  - - */
/* - - 5. Product shops  - - */
/* - - 6. Old  - - - - - - - */
/* - - - - - - - - - - - - - */

/* =================== */
/* . . . General . . . */
/* =================== */

.product-container {
  padding: 20px 6px;
  border-bottom: 2px solid #eee;
}

@media (min-width: 768px) {
  .product-container {
    padding: 20px;
  }
}

.product-infobar > span,
.product-heading > span {
  padding: 0px 4px;
}

.col-xs-6.product-specs,
.col-xs-6.product-prices {
  padding: 0px;
  margin-top: 8px;
  height: 150px;
}

.product-specs .list-group-item {
  padding: 0px 6px 0px 6px;
  font-size: 12px;
  border: 1px solid transparent;
}

.product-specs > .specs-link,
.product-prices > .prices-link {
  padding-bottom: 4px;
  margin: auto 0px;
  font-size: 12px;
  text-align: center;
}

/* =========================== */
/* . . . product infobar . . . */
/* =========================== */

.col-xs-12.product-infobar {
  padding: 0px;
}

.product-infobar > span {
  float: left;
  font-size: 10px;
}

.product-infobar > button {
  float: right;
  padding: 0px 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.product-infobar > button > .fa {
  color: #555;
}

.product-infobar > button:hover > .fa {
  color: #33e;
  text-shadow: 2px 2px 2px #ccc;
}

/* =========================== */
/* . . . product heading . . . */
/* =========================== */

.col-xs-12.product-heading {
  padding: 6px 0px;
  border-bottom: 1px solid #eee;
}

.product-heading > span.text {
  display: block;
  font-size: 16px;
  line-height: 100%;
}

.product-heading > span.sub-text,
.product-heading > span.sku-text {
  font-size: 12px;
  padding-right: 8px;
  font-weight: 600;
}

.product-heading > span.sku-text {
  color: rgba(50,50,50,0.4);
}

/* ========================= */
/* . . . product-specs . . . */
/* ========================= */

.product-specs > .list-group {
  padding: 0px 6px;
}

/* ========================== */
/* . . . product-prices . . . */
/* ========================== */

.product-prices > .list-group {
  margin: 0px;
  height: 100%;
}

.product-prices .list-group-item {
  padding: 0px 0px 0px 6px;
  margin: 0px -10px 0px 0px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 28%;
}

.product-prices .list-group-item > span {
  padding: 0px 6px 0px 0px;
}

.product-prices .list-group-item > span.price {
  font-size: 14px;
  font-weight: 600;
}

.product-prices .list-group-item > span.delivery {
  font-size: 11px;
  font-weight: 600;
  padding-left: 6px;
}

.product-prices .list-group-item > span.fa {
  font-size: calc(16px + 0.5vw);
  color: #eee;
  float: right;
}

.product-prices .list-group-item > span.shop-name {
  font-size: 12px;
  display: block;
  line-height: 100%;
  padding-bottom: 4px;
}

.product-prices > .list-group > button:focus,
.product-prices > .list-group > .active {
  border-color: transparent;
}

.product-prices > .list-group > button:hover > span.fa {
  color: #777;
  text-shadow: 2px 2px 2px #ccc;
}

/* =============== */
/* . . . Old . . . */
/* =============== */

/* expands collapsible divs on size S+ screens */
@media (min-width: 768px) {
  #more-prices {
    display: block!important;
  }
}
